@import "social_icons.scss";

.navopen.collapsed .close_tag_icon {
  display: none;
}

.navopen .close_tag_icon {
  display: flex;
}

.navopen.collapsed .open_tag_icon {
  display: flex;
}

.navopen .open_tag_icon {
  display: none;
}

// navbar

.icon-bar {
  width: 70px;
  background-color: #273a3667;

  a {
    display: block;
    text-align: center;
    padding: 25px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;

    &:hover {
      background-color: rgba(0, 0, 0, 0.507);
    }
  }
}

//--------navbar--end------------//

header {
  background-image: linear-gradient(
    rgba(63, 19, 19, 0.13),
    rgba(35, 39, 39, 0.267)
  );
}
//-------banner------------//
.banner {
  background-image: url("../assets/bg-banner.jpg");
  background-size: 100% 100%;

  @media only screen and (max-width: 572px) {
    .icon-bar {
      width: 100%;
      display: inline-flex;
      justify-content: space-between;
    }
  }

  .slider-content {
    h1 {
      font-size: 90px;
      padding-right: 5px;
      padding-bottom: 0px;
      margin-bottom: 0;
      background: -webkit-linear-gradient(
        rgba(166, 129, 236, 0.568),
        rgb(216, 194, 236)
      );
      font-family: "Bangers";
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    p {
      font-family: "Courier New", Courier, monospace;
      padding-right: 5px;
      font-size: 20px;
      font-weight: bold;
    }
  }
}

//--------about------------//
.about {
  max-width: 100%;
  background-color: #36b7b3;

  .about_me {
    background-image: url("../assets/about_me.jpg");
    background-size: 100% 100%;
    height: 400px;

    .spinner-border {
      display: inline-block;
      width: 142px;
      height: 142px;
      top: 16px;
      left: 91px;
      position: relative;
      animation: spinner-border 1.5s linear infinite;
      color: #36b7b3;
      border: 12px solid currentColor;
      border-right-color: transparent;
    }
    @media only screen and (max-width: 1199px) {
      .spinner-border {
        display: none;
      }
    }

    @media only screen and (max-width: 765px) {
      .spinner-border {
        display: flex;
        top: 5px;
        left: 75px;
        width: 156px;
        height: 156px;
        border: 26px solid currentColor;
        border-right-color: transparent;
      }
    }
    @media only screen and (max-width: 524px) {
      .spinner-border {
        display: none;
      }
    }
  }

  .about_text_box {
    background-color: #36b7b3;

    padding-top: 100px;

    h1 {
      font-size: 54px;
      color: rgb(29, 18, 18);
      font-weight: bold;
    }
    .subtitle {
      font-size: 20px;
    }
    p {
      font-size: 15px;
    }
  }
}

//----skills----///

.skills {
  background-image: linear-gradient(#36b7b3, #ddefee);

  h2 {
    font-size: 60px;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  }

  .sk-items {
   padding-bottom: 40px;
  }
  .card {
    background-color: transparent;
    border: none;

    transition: all 0.2s ease-in-out;

    &:hover {
      transform: scale(1.1);
    }
  }

  .fa {
    font-size: 25px;
    margin: 0 5px;
  }

  .checked {
    color: orange;
  }

  //----image-responsive----///

  .responsive {
    height: 235px;
  }

  @media only screen and (max-width: 1200px) {
    .responsive {
      height: 200px;
    }
  }

  @media only screen and (max-width: 988px) {
    .responsive {
      height: 145px;
    }
  }

  @media only screen and (max-width: 765px) {
    .responsive {
      height: 100px;
    }
  }

  @media only screen and (max-width: 572px) {
    .responsive {
      height: 235px;
    }
  }
}
//----image-responsive--end--///

//----Services----///
.services {
  background-image: linear-gradient(#ddefee, #c650e434);
  

 
   

  .card {
    background-color: transparent;
    border: none;
    border: 2px solid #8888883a;
    display: block;

    transition: all 0.4s ease-in-out;

    &:hover {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
      margin-top: -8px;
    }
  }

  .fa {
    font-size: 45px;
    margin: 0 5px;
  }
}

.contact {
  background-image: linear-gradient(#c650e434, gray);
}
footer {
  background-image: linear-gradient(gray, #343a40);

  
}

@media only screen and (max-width:360px){

.service-heading, .contact-heading {
  h2{
    font-size: 50px;
    
  }
  h1{
    font-size: 30px;
    margin: 0px 10px;
  }
}
  .services_box{
    margin-bottom: 30px;
  }

  .contact-info{
    h3{
      font-size: 30px;
      padding-left: 13px;
      padding-top: 5px;
    }
    ul{
      padding-left: 30px;
      padding-bottom: 20px;
    }


}
.sk-items{

}
}