body {
    margin: 0px;
}

.main {
    width: 100%;
    background: url(slide-1.png) center top no-repeat;
    background-size: cover;
    position: relative;
}
.logo {
    position: absolute;
    left: 80px;
}
.text {
    position: absolute;
    top: 50%;
    
    text-align: center;
}
.text h1 {
    color: white;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
    font-family: sans-serif;
}
.text p {
    color: white;
    text-transform: uppercase;
    font-size: 15px;
    font-family: sans-serif;
}
.main-header {
    display: flex;
}

.main {

    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    
    position: relative;
    min-height: -webkit-fill-available;
}

.nav {
    position: absolute;
    right: 60px;
    font-family: sans-serif;
}

.nav li {
    margin: 0px 10px;

}

.nav a {
    text-decoration: none;
    color: white;

}

.main ul.topnav {
    display: flex;
    list-style-type: none;
}

.text {
    align-items: center;
}

.button {
    border: 1px solid red;
    color: white;
    padding: 15px 15px;
    text-decoration: none;
}
.web .button {
    border: 1px solid red;
    color: #754848;
    padding: 15px 15px;
    text-decoration: none;
}
.Button {
    margin-top: 40px;
}
.camp img {
    width: 370px;
}
.cabin .text1,.text3,.text5 {
    padding: 66px 67px;
}

.cabin .text2,.text4 {
    padding: 66px 67px;
}

.content {
    display: flex;
    justify-content: space-around;
    padding: 50px 75px 150px 180px;
}
.web {
    text-align: center;
}

.About-us .X {
    text-align: center;
    font-family: sans-serif;
    padding-top: 90px;
    color: brown;
}

.About-us .Y {
    text-align: center;
    padding: 20px 150px;
    font-size: 21px;
    font-family: sans-serif;
    color: chocolate;
}

.circle {
    border: 2px solid red;
    background-color: #FFFFFF;
    border-radius: 50%;
    padding: 35px;
}
.web h1 {
    font-size: 25px;
}
.web p {
    color: #752c2c;
    margin: 30px;
}
.box:hover {
    transform: scale(1.1);
    background-color: rgb(92, 151, 211);
}
.web:hover {
    transform: scale(1.1);
    background-color: #f1e4e4;
}
.circle:hover {
    transform: scale(1.1);
    background-color: rgb(92, 151, 211);
}
.A {
    display: flex;
    justify-content: space-around;
}

.B {
    display: flex;
    justify-content: space-around;
}



.box {
    padding: 20px;
    margin: 0 10px 60px 51px;
    background: #fff;
    text-align: center;
    border: 2px solid red;
}

.cabin {
    display: flex;
    justify-content: space-around;
    width: 965px;
    margin: 0px auto;
    padding-top: 70px;
}

.HOVER {
    padding: 60px 130px 0px 130px;
}


.box p {
    font-family: sans-serif;
    font-size: 15px;
}

.box h1 {
    font-family: sans-serif;
    color: red;
}
.camp {
        background-color: #f5f4f0!important;
        color: #752c2c;
        line-height: 1.6rem;
}
.button:hover {
    transform: scale(1.2);
    background-color: #e64242;
}


.services {

    padding: 50px 0px 20px 0px;
}

.footer .services h1 {
    font-size: 35px;
    color: white;
    text-align: center;
    font-family: sans-serif;
}



.text h1 {
    margin: 10px;
}

.footer .services p {
    text-align: center;
    margin: auto;
    font-size: 21px;
    color: white;
    width: 50%;
    font-family: sans-serif;
}