

.toggle-button {
  
    
    font-size: larger;
    
    
 
    
    justify-content:flex-end;
    
    
    margin-bottom: 10px 20px;
   

}

.toggle-button .dropbtn {
    
    
    width: 88px;
    height: 33px;
    margin: 10px;
    cursor: pointer;
    margin-left: 50%;
    padding: 1px;
    
    
    
    
}
.menubar{
    background-color: black;
    margin: 4px 68px 1px 386px;
    width: 46%;
    height: 43px;
    padding: 18px 5px 0px 55px;
    display: none;
    

}


a{
    text-decoration: none;
    list-style: none;
    color: beige;
    margin: 20px;
    text-align: center;
    
}
.dropbtn:hover .menubar{
    display: block;
}
