

.heading {
    background: #c44747;
    text-align: center;
    font-size: larger;
    cursor: pointer;
    width: 50%;
    height: 50px;
    outline: auto;
    display: block;
}

.Contain {
    background: yellow;
    text-align: center;
    font-size: medium;
    width: 50%;
    height: 50px;
    outline: none;
    display: none;
    float: left;
}