
body{
    margin: 0px;
    background: linear-gradient(to bottom left, #ffffff -50%, black 80%);
    background-repeat: repeat-x;
    color: #ffffff;
    font-family:sans-serif;
}

.heading1{
    
}
.heading1 ul{
    display: flex;
    width: 37%;
    margin-left: 161px;
    padding: 0px;
    
    
}
.heading1 ul li{
    width: 24%;
    margin: 3px;
    padding: 4px;
    list-style: none;
    color: #ffffff;
    display: inline-block;
    font-size: 14px;
}
.heading2 span {
    color: hsl(27, 92%, 55%);
    width: 80%;
    padding: 0px;
    margin-left: 36%;
    top: 23px;
    position: absolute;
    font-size: 14px;
    font-weight: bold;
}
.heading2 span marquee {
    font-size: 14px;
    top: 0px;
    position: absolute;
    color: #ffffff;
}

.heading3{
 
    
}
.heading3 ul{
    
    display: flex;
    list-style: none;
    margin-left: 86%;
    position: absolute;
    top: -9px
}
.heading3 ul li {
    
    margin: 4px;
    padding: 6px;
    font-size: 21px;
    color: #ffffff;
    list-style: none; 
}

.heading3 ul li:hover{
    color: aqua;
    
}
hr{
    border: 1px dashed white;
}

.heading4 h1{

    margin-left: 14%;
    font-weight:200;
    
}
.heading4 ul{
    display: flex;
    margin-left: 42%;
    position: absolute;
    top: 63px;

}
.heading4 ul li{
    margin: 20px;
    list-style: none;
    font-size: 14px;
    cursor: pointer;
}
.heading4 ul li:hover{
    background: rgb(174, 39, 207);
}

.heading5 img{
    width: 100%;
    height: 500px;
}

.heading5-1{

    padding: 0px;
    width: 463px;
    position: absolute;
    top: 33%;
    margin-left: 10%;
}
.heading5-1 h2{
    background-color: green;
    font-weight: 200;
    font-family:cursive
    
}
.heading5-1 h4{
    font-weight: 200;
    font-family:cursive;
    text-align: center;
    width: 289px;
    margin-top: -12px;
    
}
.heading5-2 {
    margin:4px 0px 0px 122%;
    width: 104%;
    background-color: white;
    color: black;
    padding: 39px;
    position: absolute;
    top: -68%;

}

.heading5-2 span{
    color:green;
    text-align: center;
    font-weight: bold;
    font-family: cursive;
    margin left: 100%;
    position: absolute;
    left: 29%;
    font-size:21px;
    

}

.heading5-2 .input-container {
    display: inline-flex;
    width: 41%;
    margin-bottom: 15px;
    border: 1px solid #999;
    margin:20px 9px -3px 12px;
    padding: 7px;
    
    
    
}
    
.heading5-2 i{

    padding: 7px;
    
    color: #d48888;
    min-width: 23px;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    
    
}

.heading5-2 input{
    width: 100%;
    
    
    outline: none;
    border: none;
    padding: 9px 13px 7px 1px;
    color: #999;
}
.input-container2{
    
    width: 437px;
    margin-bottom: 15px;
    border: 1px solid #999;
    margin:20px 9px -3px 12px;
    padding: 7px;
    display: inline-flex;
}
 .btn{
    background-color: dodgerblue;
    opacity: 0.9;
    color: white;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    width: 95%;
    margin: 24px 0px -7px 12px;
 }








/+ http://www.registrationofproperty.com/