body
{
    margin: 0px;
    padding: 0px;
}
.main-heading{
    display: flex;
}
.fafaicon{
    display: inline-flex;
    position: absolute;
    left: 1117px;
    top: 3px;
}
.fafaicon a{
    justify-content: flex-end;
    align-content: flex-end;
    text-align: end;
}
.fafaicon a img{
    height: 20px;
    width: 20px;
    margin: 15px;
}
.rapid{
    position: absolute;
    left: 259px;
    top: 40px;
    font-family: sans-serif;
    color: #535074;
    text-transform: uppercase;
}
.menubar{
    position: relative;
    left: 630px;
    top: 67px;


}
.menubar span{
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    margin: 10px;
    width: 500px;
    

}

.nonadjust{
    position: absolute;
    top: -10px;
    left: 590px;

}

.tabbar{

    margin-top: -18px;
    margin-left: 101%;

}
.tablink {

}
.tabcontaint{
    list-style: none;
    position: absolute;
    display: none;
    

}
.tabcontaint li{
    text-transform: uppercase;
    color: rgb(118, 118, 129);
    font-weight: bold;
    margin: 2px;
    padding: 3px;
    width: 15px;
}

.tabbar:hover .tabcontaint {
    display: block;
  }

.heading1{
    position: absolute;
    top: 200px;
    left: 159px;
    font-weight: bold;
    fo
}
.heading1 h1 {
    font-size: 48px;
    font-family: sans-serif;
    color: #535074;

}

.getstarted{
    background-color: #1bb1dc;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 12px 121px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
}
.image-2{
    width: 50%;
    position: absolute;
    top: 24%;
    left: 50%;
}
.image-2 img{
    width: 80%;
    float: left;
}
.second-section{
    
    display: flex;
    margin-left: 9px;
    margin-top: 702px;
}
.img1{
    
    margin: 0px 146px 0px 141px;
}

.text1{
    text-align: justify;
    margin-right: 145px;
    margin-top: -29px;
}
.checkmark li {
    list-style: none;
}


.checkmark li img{
    width: 25px;
    list-style: none;
    
}
.last-section{
    background-color: #f5f8fd;
}

.last-section .services-heading{
    padding: 20px 0px 20px 0px;
    
}
.last-section h1{
    font-size: 46px;
    font-family: sans-serif;
    color: #535074;
    text-align: center;
}
.last-section p{
    font-family: sans-serif;
    color: #535074;
    text-align: center;

}


