

.Accordion{
    background: white;
    width: auto;

}
.heading{
    background: #c44747;
    text-align: center;
    font-size: larger;
    cursor: pointer;
    width: 50%;
    height:50px;
    outline: auto;
    display: block;
}
.heading:hover{
    background: hsl(143, 51%, 52%);
}
.Contain{
    background: yellow;
    text-align: center;
    font-size: medium;
    width: 50%;
    height:50px;
    outline: none;
    display: none;
}
.Contain:hover{
    display: inline-block;
    
}