

.flexbox{
    background-color: aqua;
    width:80%;
    height: auto;
    padding: 8%;
    margin-left: 26px;
    border: 2px solid black;
}
.border{
    border: 2px solid black;
    width:100%;
    height: auto;
    margin: auto;
    background-color: hsl(39, 80%, 57%);
}
.box{
    background-color: #5de93a;
    display: inline-block;
    width: 213px;
    height: 28px;
    margin: 11px;
    margin-left: 14px;
    flex: auto;
    padding: 21px;
    border: 1px Solid blue;
    text-align: right;

}
.box:hover{
    background-color: aqua;
}

.circle{
    background-color: #5de93a;
    display: inline-block;
    width: 150px;
    height: 150px;
    margin: 5px;
    
    padding: 36px;
    border-radius: 50%;
    text-align: right;
    
}
table{
    border: 2px solid black;
    border-collapse: collapse;
    width: 34%;
    padding: 30px;
    position: absolute;
    left: 55%;
    top: 66%;
}

td, th{
    border: 2px solid black;
    padding: 12px;
    margin: 1px;
    width: 20px;

}
td:hover {
    background-color: aqua;
}
th:hover {
    background-color: aqua;
}