body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #31403d;
    height: 65px;
    position: relative;
    font-family: sans-serif;
}
.logo {
    position: absolute;
    left: 5%;
    display: flex;
    align-items: center;
}
.logo h1 {
    color: white;
    margin: 15px;
}
.nav {
    position: absolute;
    right: 15%;
}
header ul li a {
    color: rgba(250, 250, 250, 0.589);
}
header ul li a:hover, header ul li a.active {  
    color: #fff;
  }
header li .button {
    font-size: 10px;
    padding: 10px 20px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    border: 2px solid #f82249;
    background-color: #c52727;
    margin-top: -6px;
}
    

header ul {
    display: flex;
}

header li, a {
    list-style-type: none;
    text-decoration: none;
    margin: 5px 7px;
    
}
header a {
    color: white;
}
.speaker> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
    margin-bottom: 50px;
}
.shedule> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
    margin-bottom: 60px;
}
.venue> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
    margin-bottom: 50px;
}
.hotels> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
    margin-bottom: 50px;

}
.gallery> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
    margin-bottom: 60px;
}
.sponsors> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
    margin-bottom: 50px;
}
.faq> hr {
    width: 4%;
    background: red;
    height: 7px;
    border: none;
}
.letter> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
    margin-bottom: 80px;
}
.contact> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
}
.tickets> hr {
    width: 7%;
    background: red;
    height: 7px;
    border: none;
    margin-bottom: 50px;
}
.button1 {
    font-size: 15px;
    padding: 10px 15px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    border: 2px solid #f82249;
    background-color: #f82249;
    position: absolute;
    right: 5%;
    top: 8%;

}
.button1:hover {
    background: none;
    color: rgba(216, 114, 236, 0.993);
}
    
.banner {
    background: url(meeting.jpg);
    width: 100%;
    background-size: cover;
    height: 800px;
    text-align: center;
    color: #fffefec9;
    position: relative;
    font-family: sans-serif;
}
.text {
    text-align: center;
    position: absolute;
    top: 5%;
    left: 25%;
}
.aboutevnt {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0%;
    text-align: start;
    background: url(venue1.jpg) no-repeat;
    background-size: cover;
}
.text h1 {
    color: #fff;
    font-size: 56px;
    font-weight: 600;
    margin: 0px;
}
.text p{
    color: #ebebeb;
    font-weight: 700;
    font-size: 20px;
}
.text img {
    border-radius: 50%;
    padding: 30px;
    background-color: #e8b60d;
    margin-bottom: 40px;
}
.text span {
    color: #f82249;
    margin: 10px;
}
.text .button {
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 32px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 10px;
    color: #fff;
    border: 2px solid #f82249;
}
.text .button:hover {
    background: #f82249;
    color: #fff;
}
.about-event {
    width: 40%;
    margin: 30px 10px;
}
.where {
    width: 25%;
    margin-top: 30px;
}
.when {
    width: 16%;
    margin-top: 25px;
}
.speaker{
    font-family: sans-serif;
    text-align: center;
    margin: 50px 100px 10px 100px;
}
.speaker>h1{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    color: #0e1b4d;
}
.speaker>p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}
.speaker1 {
    display: flex;
}
.speaker2 {
    display: flex;
}
.A {
    position: relative;
    margin: 20px;
    z-index: 9;
    overflow: hidden;
}
.A>img {
    width: 100%;
    height: 100%;
    display: block;
}
.speaker ul {
    list-style-type: none;
    display: flex;
    text-align: center;
    padding-left: 90px;
}
.overlay>h1 {
    font-size: 25px;
}
.overlay>p {
    font-size: 15px;
}

.overlay {
    background: rgba(79, 89, 123, 0.76);
      position: absolute;
      left: 0;
      bottom: 0px;
      right: 0;
      text-align: center;
      padding-top: 10px;
      opacity: 1;
      height: 50%;
      z-index: 9999;
    transform: translateY(45px);
    transition: .4s;
  }

  .overlay:hover{
    transform: translateY(0px);
  }
  .overlay>h1 {
    color: #fff;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 5px;
  }
  
  .overlay>p {
    color: #fff;
    font-size: 15px;
    margin-bottom: 10px;
    font-style: italic;
  }
  .overlay >A:hover, .overlay >A:active{
      color:white;
      text-decoration: none;
  }
  .overlay .social A {
    text-decoration: none;
      background-color: transparent;
  }
  .overlay .social ul {
    list-style-type: none;
    color: white;
  }
  .shedule {
      font-family: sans-serif;
      margin: 0px 100px;
      padding: 0px 15px;
  }
  .shedule>h1{
      text-align: center;
font-size: 30px;
font-weight: 900;
color:  #0e1b4d;
margin-top: 5%;
  }
  .shedule>p {
    text-align: center;
font-size: 20px;
font-weight: 700;
color: #9195a2;

}
.evnt-btn {
    text-align: center;
    margin: auto;
    display: block;
    border-bottom: 0;
    margin-bottom: 40px;
}
.button2 {
    background-color: #f82249;
    color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
    padding: 10px 100px;
}
.button3,.button4 {
    color: #fff;
    border: none;
    border-radius: 50px;
    font-weight: 600;
    color: #fff;
    padding: 10px 100px;
    background-color: #0e1b4d;
}
h5 {
    width: 75%;
    color: #8088a591;
    font-size: 18px;
    margin: 0px auto 40px auto;
    text-align: center;
}
.evnt-schedule {
    margin: 0px 100px;
}
.day {
    border-bottom: 1px solid #cad4f6;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
}
.aa {
    width: 10%;
}
.b {
    margin: 0px 77px;
}
.b h4 {
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    color: #0e1b4d;
    font-family: sans-serif;
}
.b p {
    font-style: italic;
    color: #152b79;
    margin-bottom: 0;
}
.c img {
    border: none;
    border-radius: 50%;
   width: 10%;
   margin: 0px 20px 10px 0px;
    float: left;

}
.b span {
    font-style: italic;
    color: #19328e;
    font-weight: normal;
    font-size: 16px;
}
.venue {
font-family: sans-serif;
padding: 10px;
}
.venue>h1{
    text-align: center;
font-size: 30px;
font-weight: 900;
color:  #0e1b4d;
margin-top: 5%;
}
.venue>p {
  text-align: center;
font-size: 20px;
font-weight: 700;
color: #9195a2;
}
.row1 {
    display: flex;
    justify-content: space-evenly;
   
}
.col2 {
    background: url(newsletter.jpg)  no-repeat;
    background-size: cover;
}
.col2 h1 {
    font-size: 40px;
    font-weight: 700;
    color: #7cc35e;
    margin: 80px 100px 0px 180px;
}
.col2 p {
    color: #7cc35e;
    width: 54%;
    margin: 10px 0px 0px 185px;
    font-size: 20px;
}
.row2,.row3 {
    display: flex;
    justify-content: space-evenly;
}
.row2 img, .row3 img {
    width: 100%;
    height: auto;
    display: block;
}
.img1 img {
    border: 2px solid white;
    margin: 5px;
}
.img1 img:hover {
    transform: scale(1.03);
}
.hotels {
    font-family: sans-serif;
}
.hotels>h1{
    text-align: center;
font-size: 30px;
font-weight: 900;
color:  #0e1b4d;
margin-top: 5%;
}
.hotels>p {
  text-align: center;
font-size: 20px;
font-weight: 700;
color: #9195a2;
}
.hotell {
    display: flex;
    justify-content: space-evenly;
    margin: 0 100px;
}
.hotel1>img {
    width: 100%;
    height: auto;
    display: block;
    margin: 15px;
}
.hotel1 {
    margin: 0px 50px 0px 0px;
}
.hotel1:hover{
    transform: scale(1.02);
}
.hotel1 a {
    color: #152b79;
    margin: 30px;
    font-size: 25px;
}
.rating {
    margin: 10px 25px;
    
}
.hotel1 p {
    margin-left: 25px;
    font-style: italic;
    font-size: 18px;
    color: #40408a;
}
.gallery>h1{
    text-align: center;
font-size: 30px;
font-weight: 900;
color:  #0e1b4d;
margin-top: 5%;
font-family: sans-serif;
}
.gallery>p {
  text-align: center;
font-size: 20px;
font-weight: 700;
color: #9195a2;
font-family: sans-serif;
}
.gallee {
    display: flex;
    justify-content: space-evenly;
}
.gallee img {
    border: 6px solid #633838;
}
.gallee img:hover {
    transform: scale(0.9);
}
.sponsors {
    background: #f8f7f7;
    padding: 1px 0px 90px 0px;
}
.sponsors h1 {
        text-align: center;
    font-size: 40px;
    color:  #0e1b4d;
    margin-top: 8%;
    font-family: sans-serif;
}
.spons {
    margin: 0px 110px;
}
.spons1 {
    display: flex;
    justify-content: space-around;
    margin: 0px 50px;
    background: white;
}
.spons1 img {
    width: 15%;
    height: auto;
    display: block;
}
.spons1 img:hover {
    transform: scale(0.9);
}
.faq {
    font-family: sans-serif;
    margin: 10px 200px;
}
.faq>h1 {
    text-align: center;
    color: #0e1b4d;
    font-size: 40px;
    font-weight: bolder;
}
.faq ul {
    list-style-type: none;
}
.faq ul li {
    display: flex;
    justify-content: space-between;
}
.faq ul li p {
    font-size: 18px;
    font-weight: bolder;
}
.faq ul  img {
    width: 5%;
    height: 10%;
}















.letter {
    padding: 40px 100px 100px 100px;
    background: url(venue1.jpg) center center no-repeat;
    background-size: cover;
    margin-top: 70px;
}
.letter>h1 {
    font-size: 36px;
    font-family: sans-serif;
    color: white;
    text-align: center;
    font-weight: 700;

}
.letter>p {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    color:#00ff97;
    font-family: sans-serif;
    margin-bottom: 15px;
}
.formm {
    display: flex;
    justify-content: center;
    position: relative;
}
.letter button a {
    color: white;
}

.formm input {
    background: #fff;
    color: #060c22;
    border: 0;
    padding: 9px 20px;
    border-radius: 50px;
    font-size: 14px;
    position: absolute;
    left: 30%;
    width: 25%;
}
.letter button {
    border: 0;
    padding: 9px 25px;
    cursor: pointer;
    background: #f82249;
    font-size: 14px;
    border-radius: 50px;
    position: absolute;
    right: 30%;
}
.letter button:hover {
    background: #e0072f;
}
.tickets{
    background: #e4e7ec;
    padding: 1px 0px 90px 0px;
}
.tickets>h1{
    text-align: center;
font-size: 30px;
font-weight: 900;
color:  #0e1b4d;
margin-top: 5%;
font-family: sans-serif;
}
.tickets>p {
  text-align: center;
font-size: 20px;
font-weight: 700;
color: #9195a2;
margin: 0px 0px 30px;
font-family: sans-serif;
}
.access {
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    margin: 0px 150px;
    text-align: left;
    
}
.access button {
    font-size: 15px;
    border-radius: 50px;
    padding: 10px 40px;
    background-color: #f82249;
    border: 0;
}
.access button:hover {
    background:#e0072f ;
}
.access button a{
    color: white;
}
.std,.pro,.premium {
    padding: 0px 30px;
    box-shadow: 0 10px 25px 0 rgba(251, 251, 251,  0.1);
    transition: 0.4s;
}
.pro {
    width: 22%;
}

.std:hover {
    background: white;
    transform: scale(1.02)
}
.pro:hover {
    background: white;
    transform: scale(1.02)
}
.premium:hover {
    background: white;
    transform: scale(1.02)
}
.txt>h1 {
    font-size: 17px;
    text-align: center;
    color: #23232373;
    padding: 0px 35px;
}
.txt>p{
    font-size: 50px;
    text-align: center;
    color: #686890;
    margin: 0px;
}
.blur{
    color: #0000004f;
}
.buy {
    text-align: center;
    padding-bottom: 25px;
}
.contact {
    font-family: sans-serif;
    margin: 0px 50px;
}
.contact>h1 {
        font-size: 36px;
        color: #0e1b4d;
        text-align: center;
        font-weight: 700;
        margin-bottom: 10px;
}
.contact> p {
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #9195a2;
}
.address {
    display: flex;
    justify-content: space-between;
    color: #0e1b4d;
    margin: 50px 90px;
   
}
.add,.phone {
    border-right: 1px solid #00000036;
    width: 33.33%;
    text-align: center;
}

.address h1 {
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
    text-align: center;
}
.form {
    padding: 0px 100px;
    
}
.row {
    display: flex;
    margin: 25px 0px;
}
.name {
    width: 49%;
    justify-content: left;
}
.email{
    width: 48%;
    margin-left: 40px;
}
.form input[type=text], [type=email] {
    padding: 10px 10px;
    width: 100%;
    height: 60%;
}
.area textarea {
    width: 100%;
    padding: 10px 13px 60px 10px;
    margin: 25px 0px;
}

.subject input[type=text] {
    padding: 15px 10px;
    width: 100%;
    height: 60%;
}
.bttn {
    text-align: center;
}
.bttn button[type=submit]{
    background: #f82249;
    border: 0;
    padding: 10px 40px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
    cursor: pointer;
    font-size: 20px;
}
.bttn button[type="submit"]:hover {
    background: #e0072f;
}
footer{
    background: #040919;
    padding: 40px 0 0 0;
    margin-top: 50px;
}
.links {
    display: flex;
    justify-content: space-between;
    margin: 0% 10%;
    font-family: sans-serif;
}
.detail{
    width: 26%;
}
.evenet{
    display: flex;
    color: white;
}
.evenet img {
    height: 10%;
}
.evenet h1 {
    font-size: 30px;
    margin: 0px;
}
.detail p{
color: white;
font-size: 16px;
line-height: 1.5;
padding: 10px 0px;
}
.link1{
    width: 23%;
}
.link1>h1 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 12px;
    border-bottom: 2px solid #f82249;
}
.link2{
    width: 23%;
}
.link2>h1 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 12px;
    border-bottom: 2px solid #f82249;
}
.contact-us {
    width: 23%;
}
.contact-us>h1 {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 12px;
    border-bottom: 2px solid #f82249;
}
.contact-us p{
    color: white;
font-size: 15px;
line-height: 1;
}
.link1 ul {
    list-style-type: none;
    margin: 35px 0px 0px -40px;
}
.link2 ul {
    list-style-type: none;
    margin: 35px 0px 0px -40px;
}
.link1 ul li a {
    color: white;
    margin: 0px;
}
.link1 ul li  {
   margin: 20px 0px;
   border-bottom:  1px solid #a7a2a26b;
}
.link2 ul li a {
    color: white;
    margin: 0px;
}
.link2 ul li  {
   margin: 20px 0px;
   border-bottom:  1px solid #a7a2a26b;
}
.links span {
    color: #f82249;
}
.social ul {
list-style-type: none;
display: flex;
padding: 0px;
margin: 30px 0px;
}
.social img {
    border: none;
    border-radius: 50%;
    background-color: white;
    padding: 5px;
    width: 60%;
}
.social ul li a {
    
    margin: 10px;
}
.copyright {
    text-align: center;
    padding: 30px 0px;
    color: white;
    font-size: 8px;
    font-family: sans-serif;
    background: #101522;
    margin: 0px;
}
.copyright h2 {
    font-size: 15px;
    margin: 0px;
}
h2 span {
    color: red;
}