.car-dekho-homepage {
  margin: 20px 52px;
  padding: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #8080804f;
}

@media only screen and (max-width: 650px) {
  .car-dekho-homepage {
    margin: 10px auto;
    padding: 0 10px;
  }
}

.car-dekho-homepage .car-dekho-homepage-container-text {
  width: 100%;
}

.car-dekho-homepage .car-dekho-homepage-container-text h2 {
  display: block;
  padding-bottom: 20px;
}

.car-dekho-homepage .car-dekho-homepage-container-text ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #8080804f;
}

.car-dekho-homepage .car-dekho-homepage-container-text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  height: 40px;
}

.car-dekho-homepage .car-dekho-homepage-container-text ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 50px;
  color: black;
  padding-bottom: 20px;
}

.car-dekho-homepage .car-dekho-homepage-container-text ul li a:hover {
  border-bottom: 2px solid orangered;
}

.car-dekho-homepage .car-dekho-homepage-container-category {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
}

.car-dekho-homepage .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: auto;
  width: 100%;
}

.car-dekho-homepage .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0px auto;
  position: relative;
}

.car-dekho-homepage .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li {
  width: 300px;
  height: 342px;
  margin: 10px auto;
  border-bottom: 1px solid #8080804f;
  padding: 10px;
}

.car-dekho-homepage .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li img {
  width: 100%;
  height: 194px;
}

.car-dekho-homepage .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul p {
  padding: 5px 0px;
  font-family: cursive;
  margin: 0px 20px;
}

.car-dekho-homepage .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul span {
  border: 1px solid orangered;
  width: 230px;
  display: block;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  color: orangered;
  padding: 10px 0px;
  margin: 0 auto;
  margin-top: 10px;
  cursor: pointer;
}

.car-dekho-homepage .view-all-car {
  position: relative;
}

.car-dekho-homepage .view-all-car a {
  cursor: pointer;
  font-weight: 600;
  color: #4624e0ab;
  -webkit-transition: 1s;
  transition: 1s;
}

.car-dekho-homepage .view-all-car a:hover {
  font-size: 15px;
  border-radius: 8px;
  color: white;
  padding: 10px;
  background-color: rgba(3, 3, 3, 0.651);
}

.car-dekho-homepage-2 {
  margin: 20px 52px;
  padding: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #8080804f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media only screen and (max-width: 650px) {
  .car-dekho-homepage-2 {
    margin: 20px auto;
    padding: 0 10px;
  }
}

.car-dekho-homepage-2 .car-dekho-homepage-container-text h2 {
  padding-bottom: 20px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-text ul {
  padding: 0px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  border-bottom: 1px solid #8080804f;
  height: auto;
  width: 100%;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-text ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 26px;
  height: 40px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-text ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-right: 50px;
  color: black;
  padding-bottom: 20px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-text ul li a:hover {
  border-bottom: 2px solid orangered;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px 0px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  margin: 0px auto;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul {
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: auto;
  margin: 0px auto;
  position: relative;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li {
  width: 300px;
  height: 342px;
  margin: 0px auto;
  border: 1px solid #8080804f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li img {
  width: 100%;
  height: 194px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li p {
  padding: 5px 0px;
  font-family: cursive;
  margin: 0px 20px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li small {
  padding: 5px 0px;
  font-family: cursive;
  margin: 0px 20px;
  color: #00000098;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li .used-availble-car {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li .used-availble-car h2 {
  font-size: 33px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li .used-availble-car p {
  color: rgba(49, 47, 47, 0.445);
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li .used-availble-car span {
  height: 80px;
  width: 80px;
  background-color: orangered;
  border-radius: 50%;
  -webkit-box-shadow: #e05c2c 2px 2px;
          box-shadow: #e05c2c 2px 2px;
}

.car-dekho-homepage-2 .car-dekho-homepage-container-category .car-dekho-homepage-container-category-car-box ul li .used-availble-car span i {
  text-align: center;
  display: block;
  margin: 24px auto;
}

.car-dekho-homepage-3 {
  margin: 20px 52px;
  padding: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #8080804f;
}

@media only screen and (max-width: 650px) {
  .car-dekho-homepage-3 {
    margin: 20px auto;
    padding: 0 10px;
  }
}

.car-dekho-homepage-3 .car-dekho-homepage-3-text {
  width: 100%;
  border-bottom: 1px solid #8080804f;
  margin-bottom: 40px;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-text h2 {
  padding-bottom: 10px;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 317px;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-box ul li {
  border: 1px solid #8080804f;
  margin-right: 10px;
  margin-bottom: 15px;
  height: 150px;
  width: 200px;
  text-align: center;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-box ul li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: 1s;
  transition: 1s;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-box ul li img {
  width: 100%;
  height: 100%;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-box .btn_for_view_other_brand {
  margin-top: 10px;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-box .btn_for_view_other_brand a {
  cursor: pointer;
  font-weight: 600;
  color: #4624e0ab;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}

.car-dekho-homepage-3 .car-dekho-homepage-3-box .btn_for_view_other_brand a:hover {
  font-size: 15px;
  border-radius: 8px;
  color: white;
  padding: 10px;
  background-color: rgba(3, 3, 3, 0.651);
}

.car-dekho-homepage-4 {
  margin: 20px 52px;
  padding: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #8080804f;
}

@media only screen and (max-width: 650px) {
  .car-dekho-homepage-4 {
    margin: 20px auto;
    padding: 0 10px;
  }
}

.car-dekho-homepage-4 .car-dekho-homepage-4-text {
  width: 100%;
  border-bottom: 1px solid #8080804f;
  margin-bottom: 40px;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-text h2 {
  padding-bottom: 10px;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box {
  margin: 10px 0px;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul {
  margin: 0px auto;
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li {
  border-bottom: 1px solid #8080804f;
  height: 289px;
  width: 317px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
  margin: 0 auto;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li:hover {
  border: 1px solid  #8080804f;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li .car-dekho-homepage-4-box-right {
  width: 50%;
  height: auto;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li .car-dekho-homepage-4-box-right img {
  width: 100%;
  height: 150px;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li .car-dekho-homepage-4-box-right p {
  padding: 0px 15px;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li .car-dekho-homepage-4-box-left {
  width: 50%;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li .car-dekho-homepage-4-box-left img {
  width: 100%;
  height: 150px;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li .car-dekho-homepage-4-box-left p {
  text-align: end;
  padding: 0px 15px;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li .car-dekho-homepage-4-box-left .tag {
  width: 36px;
  height: 36px;
  background: #24272c;
  border: 1px solid rgba(36, 39, 44, 0.15);
  font-weight: 500;
  text-align: center;
  line-height: 36px;
  color: #fff;
  border-radius: 50%;
  position: relative;
  right: -18px;
  top: 50%;
  margin-top: -18px;
  z-index: 1;
}

.car-dekho-homepage-4 .car-dekho-homepage-4-box ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid orangered;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 43px;
  width: 80%;
}

.car-dekho-homepage-4 .view-all-car-camparison {
  width: 100%;
  border: 1px solid  #8080804f;
  padding: 20px 20px;
}

.car-dekho-homepage-4 .view-all-car-camparison a {
  cursor: pointer;
  font-weight: 600;
  color: #4624e0ab;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}

.car-dekho-homepage-4 .view-all-car-camparison a:hover {
  font-size: 15px;
  border-radius: 8px;
  color: white;
  padding: 10px;
  background-color: rgba(3, 3, 3, 0.651);
}

.select-city {
  margin: 20px 52px;
  padding: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #8080804f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
  width: 100%;
}

@media only screen and (max-width: 650px) {
  .select-city {
    margin: 20px auto;
    padding: 0 10px;
  }
}

.select-city .select-city-text {
  position: relative;
  border-bottom: 1px solid #8080804f;
  width: 100%;
}

.select-city .select-city-text h2 {
  padding-bottom: 10px;
}

.select-city .select-city-box {
  padding: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.select-city .select-city-box .select-city-by-image {
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}

.select-city .select-city-box .select-city-by-image ul {
  height: auto;
  max-width: 950px;
  min-width: 317px;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.select-city .select-city-box .select-city-by-image ul li {
  border-bottom: 1px solid #8080804f;
  height: 140px;
  width: 140px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 5px;
  margin-bottom: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select-city .select-city-box .select-city-by-image ul li:hover {
  border: 1px solid  #8080804f;
}

.select-city .select-city-box .select-city-by-image ul li img {
  height: 80px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.select-city .select-city-box .select-city-by-image ul li small {
  color: rgba(0, 0, 0, 0.411);
  padding: 5px 0;
}

.select-city .select-city-box .select-city-by-image ul li a {
  color: black;
}

.select-city .select-city-box .select-city-by-image .enter-city {
  position: relative;
  margin: 0 auto;
}

.select-city .select-city-box .select-city-by-image .enter-city ul {
  width: 300px;
  height: auto;
}

.select-city .select-city-box .select-city-by-image .enter-city ul .select_dropdown_city {
  position: relative;
}

.select-city .select-city-box .select-city-by-image .enter-city ul .select_dropdown_city li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  height: 295px;
}

.select-city .select-city-box .select-city-by-image .enter-city ul .select_dropdown_city li .btn_box {
  height: 73px;
  width: 100%;
}

.select-city .select-city-box .select-city-by-image .enter-city ul .select_dropdown_city li .btn_box .btn {
  margin: 10px;
  border: 1px solid black;
  border-radius: 22%;
  -webkit-transition-property: border;
  transition-property: border;
  -webkit-transition: 3s;
  transition: 3s;
}

.select-city .select-city-box .select-city-by-image .enter-city ul .select_dropdown_city li .btn_box .btn:hover {
  border-radius: 0px;
  border: 1px solid black;
}

.select-city .select-city-box .select-city-by-image .enter-city ul .select_dropdown_city li .btn_box .btn select {
  padding: 10px 60px;
  outline: none;
  border: none;
}

.select-city .select-city-box .select-city-by-image .enter-city ul .select_dropdown_city li .btn_box .btn select option {
  border: 1px solid #8080804f;
}

.news-box {
  margin: 20px 52px;
  padding: 20px;
  width: 100%;
  height: auto;
  border: 1px solid #8080804f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media only screen and (max-width: 650px) {
  .news-box {
    margin: 20px auto;
    padding: 0 10px;
  }
}

.news-box .news-box-container {
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.news-box .news-box-container .news-box-contain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

.news-box .news-box-container .news-box-contain ul {
  width: 47%;
  min-width: 317px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

.news-box .news-box-container .news-box-contain ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 300px;
}

.news-box .news-box-container .news-box-contain ul li img {
  position: relative;
}

.news-box #news-box-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 300px;
  margin: 21px 0px 21px 0px;
}

.news-box #news-box-text h3 {
  font-size: medium;
  margin-bottom: 20px;
}

.news-box #news-box-text h3 a {
  color: black;
  font-weight: 400;
  font-size: 15px;
}

.news-box #news-box-text p {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  color: rgba(36, 39, 44, 0.5);
  padding-bottom: 18px;
}

.news-box #news-box-text .authorThumbName {
  border-radius: 100%;
  width: 36px;
  height: 36px;
  background: #fafafa;
  float: left;
  overflow: hidden;
  padding-top: 8px;
  text-align: center;
  font-size: 18px;
  vertical-align: middle;
  text-transform: uppercase;
}

.news-box #news-box-text .authorSummary {
  font-size: 14px;
  padding: 0px 5px;
}

.news-box #news-box-text .dotlist {
  color: rgba(36, 39, 44, 0.5);
  font-size: 12px;
}

.news-box .view-all-car-camparison {
  width: 100%;
  padding: 20px 20px;
}

.news-box .view-all-car-camparison a {
  cursor: pointer;
  font-weight: 600;
  color: #4624e0ab;
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transition-property: all;
  transition-property: all;
}

.news-box .view-all-car-camparison a:hover {
  font-size: 15px;
  border-radius: 8px;
  color: white;
  padding: 10px;
  background-color: rgba(3, 3, 3, 0.651);
}

.footer_Start {
  margin: 10px 0px;
  padding: 0;
  width: 100%;
  border-top: 1px solid #8080804f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 650px) {
  .footer_Start {
    margin: 20px auto;
    padding: 0 10px;
  }
}

.footer_Start .footer_Start-box {
  margin: 10px 0px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 52px;
  padding: 20px;
}

.footer_Start .footer_Start-box ul {
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: 317px;
}

.footer_Start .footer_Start-box ul .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
  height: 80px;
  width: 200px;
}

.footer_Start .footer_Start-box ul .title i {
  position: relative;
}

.footer_Start .footer_Start-box ul .title h2 {
  position: relative;
}

.footer_Start .footer_Start-box ul .title p {
  color: rgba(36, 39, 44, 0.5);
}

.footer_end {
  margin: 10px 0px;
  padding: 0;
  width: 100%;
  border: 1px solid #8080804f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: left;
}

.footer_end .footer_end_container-box {
  margin: 10px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px 52px;
  padding: 20px;
}

@media only screen and (max-width: 650px) {
  .footer_end .footer_end_container-box {
    margin: 20px auto;
    padding: 0 10px;
  }
}

.footer_end .footer_end_container-box ul {
  margin-bottom: 10px;
  height: auto;
  width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.footer_end .footer_end_container-box ul li {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 174px;
  width: 221px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer_end .footer_end_container-box ul li p {
  font-size: 13px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer_end .footer_end_container-box ul li small {
  padding-bottom: 10px;
  color: rgba(36, 39, 44, 0.5);
  cursor: pointer;
}

.footer_end .footer_end_container-box ul li small:hover {
  color: blue;
  font-size: 15px;
}

.footer_end .footer_end_container-box ul #app_download_link {
  width: 300px;
  height: 150px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer_end .footer_end_container-box ul #app_download_link p {
  font-size: 13px;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.footer_end .footer_end_container-box ul #app_download_link img {
  width: 100%;
  height: auto;
  padding-bottom: 10px;
  cursor: pointer;
}

.footer_end .footer_end_container-box ul #app_download_link small {
  position: relative;
}

.footer_end .footer_end_container-box ul #app_download_link .fa_fa_icons {
  color: rgba(36, 39, 44, 0.5);
  padding: 10px 0px;
}

.footer_end .footer_end_container-box ul #app_download_link .fa_fa_icons i {
  margin-right: 10px;
  font-size: 19px;
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.footer_end .footer_end_container-box ul #app_download_link .fa_fa_icons i:hover {
  color: green;
  font-size: 24px;
}
/*# sourceMappingURL=car-dekho-homepage.css.map */