
*{
    box-sizing: border-box;
    
}
body{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul{
    padding: 0;
    margin: 0;
}


header{
    display: flex;
    background-image: url("https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-gorgeous-technology-dot-line-structure-banner-background-image_210889.jpg");
    background-attachment: fixed;
    background-size: 100% 100%;
    margin:0px;
    padding: 0;
}

.nav{
    display: flex;
}

.nav ul{
    display: flex;
    margin: 0;
    
}

.nav ul li{
    margin-top: 14px;
    margin-left: 10px;
    border: 2px solid white;
    background-color: #ffffffc7;
    border-radius: 26px 0px;
}
.nav ul li a{
    display: block;
    padding: 10px;
    color: black;
    align-items: center;
    margin: 0px auto;
}

.main{
    display: flex;
    
}

aside{
    display: flex;
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    width: 21%;
    
   
    height: 800px;
}

.side-bar{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    padding-top: 18px;
    background-color: #b6d6f0c7;

}

.side-bar ul{
    margin: 0px;
    padding:0px;
}

.side-bar ul li{
    margin: 0px 16px;
    padding-bottom: 23px;

}

.side-bar ul a{
    padding: 0px;
    font-size: 18px;
    color: #944208;
   

}

.side-bar ul h3{
    padding: 0;
    margin: 0;
    text-transform: uppercase;
    
}

.main-content{
   
    display: inline-flex;
    flex-wrap: wrap;
    margin:0px 20px;
    height: 609px;

}

.box{

    width: auto;
    display: flex;
    margin: 20px 0px 0px 28px;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 10px 2px;
    
    
}

.box-border{
    width: 310px;
    border: 2px solid blue;
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    height: 266px;
    transition-property: height;
    transition-duration: 1.0s;
    transition-timing-function: ease-in-out;
    flex-direction: row;
    padding: 10px 10px;
    margin: 0 10px ;
}

#box-image{
    width: 100%;
    height: 239px;
    
    
}


.box-content{
    color: white;
    position: relative;
    top: -182px;
    text-align: -webkit-center;
    visibility: hidden;
    opacity: 0;
    transition-property: all;
    transition: 0.9s ease-in;
    
}
    

.box-border:hover .box-content{
   
    top: 0px;
    visibility: visible;
    opacity: 1;
}
    

.box-border:hover{
    height: 460px;
    
}

