body {
    margin: 0;
}
header {
    display: flex;
    justify-content: space-between;
    background-color: #1ea78d;
    
}

.features h2{
  text-align: center;
    color: green;
    font-family: sans-serif;
    padding-top: 40px;
    margin-bottom: 50px;
    font-size: 40px;
}
header a {
  color: white;
}
footer a {
  color: white;
}
header li,a {
    list-style-type: none;
    text-decoration: none;
    margin: 0px 10px;
}
header ul {
    display: flex;
}
.welcome-screen {
    background: url(img_banner.jpg);
    width: 100%;
    background-size: cover;
    height: 600px;
    text-align: center;
    color: #fffefec9;
}
.media {
  padding-top: 250px;
}
.media img {
  width: 55%;
}
.media >p {
  font-size: 20px;
    margin: 10px;
}
.welcome-screen h1 {
    margin: 0px;   
    font-size: 55px;
    font-family: sans-serif;
}
.welcome-screen h2 {
  margin: 0px;
  font-size: 40px;
  font-family: sans-serif;
}
span {
  font-weight: bolder;
  color: white;
}
.media h2 span {
  font-weight: bolder;
  color: limegreen;
}
.welcome-screen li,a {
    list-style-type: none;
    text-decoration: none;
    margin: 0px 0px;
}
.welcome-screen ul {
    display: flex;
    padding-left: 45%;
    padding-top: 1%;
}
.Brnd {
    display: flex;
    padding: 50px 75px;
    font-family: sans-serif;
}
.brand {
  display: flex;
}
.brand img {
  border: 1px solid green;
  border-radius: 50%;
  height: 30%;
  background: white; 
  margin: 20px;
  padding: 5px;
}

.y h1 {
  font-size: 25px;
  color: rgb(48, 17, 17);
}
.y p {
  color: rgba(46, 18, 18, 0.562);
}
.IMG1,.IMG2 {
    display: flex;
}
.IMG-A {
    position: relative;
    margin: 5px;
}
.IMG-A>img {
    width: 100%;
    height: auto;
    display: block;
}

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(14,180,147,.9);
    text-align: center;
  }
  
  .IMG-A:hover .overlay {
    opacity: 1;
  }
  
  
  
  .IMG {
    margin-top: 10%;
    margin-bottom: 10%;
  }
 
  
  .text {
    color: black;
    font-size: 7px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .text  p {
font-size: 15px;
  }
  .text  h1 {
    font-size: 17px;
      }
  .IMG-A .overlay img {
       width: 20%;
        margin-top: 15px;
        border: 1px solid black;
        border-radius: 50%;
        background: white;
        padding: 10px; 
  }
  .works {
    position: relative;
    font-family: sans-serif;
  }
  .works >h1 {
text-align: center;
color: green;
font-size: 40px;
}
  .works >p {
      text-align: center;
      color: #2c0d09;
      font-size: 25px;
    margin-top: 50px;
    padding: 30px 50px;
  }
  .Button {
      text-align: center;
      position: absolute;
    left: 30%;
    top: 35%;
  }
  .Button ul {
      text-align: center;
      display: flex;
      list-style-type: none;
  }
.Button ul li a {
  color: #062033;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 17px;
    border-radius: 6px;
}
.Button ul li a:hover, .Button ul li a.active {
  background-color: #0eb493;
  border-radius: 6px;
  color: #fff;
  padding: 5px 17px;
}
.Meet-team {
  font-family: sans-serif;
 
}
.Meet-team >h1 {
    text-align: center;
    color: green;
    font-size: 40px;
      }
      .Meet-team >p {
          text-align: center;
          color: #2c0d09;
          font-size: 25px;
        margin-top: 50px;
        padding: 30px 50px;
      }
      .bio {
          display: flex;
          justify-content: center;
        
      }
      .bio h1:hover {
       color: palevioletred;
      }
      .bio img {
        width: 100%;
      }
      .bio p {
        color:#747f80;
        margin: 0px;
        font-size: small;
      }
      .bio h1 {
        color: #56898e;
    margin: 8px;
      }
      .A,.B,.C,.D, h1 p {
          text-align: center;
          margin: 15px 20px;
      }

  
      .some-fun {
          background: url(img_banner.jpg);
          background-size: cover;
          width: 100%;
          height: 600px;
          text-align: center;
          font-family: sans-serif;
      }
    
      .F img {
        width: 82px;
        margin-top: 15px;
        border: 1px solid black;
        border-radius: 50%;
        background: white;
        padding: 10px;
        height: 82px; 
      }
      .some-fun>h1 {
        color: #8dea95;
        font-size: 50px;
        text-align: center;
        padding: 60px 0px 0px 0px;
      }
      .divider {
        display: flex;
    justify-content: center;
    position: relative;
      }
      .horizon {
        width: 10%;
        position: absolute;
        left: 38%;
      }
      .hz {
        width: 10%;
        position: absolute;
        right: 38%;
      }
      .Fun {
          display: flex;
          justify-content: space-around;
          margin-top: 90px;
          padding: 0px 80px;
      }
      .F {
          text-align: center;
      }
      .F h1 {
        color: white;
        font-weight: bolder;
        font-family: sans-serif;
      }
      .F p {
        color: white;
        
        font-family: sans-serif;
      }
      .discuss >h1 {
        text-align: center;
        color: green;
        font-size: 40px;
          }
          .discuss >p {
              text-align: center;
              color: #2c0d09;
              font-size: 25px;
            margin-top: 50px;
            padding: 30px 50px;
          }
          .text1 {
              display: flex;
          }
      .icon li{
          list-style-type: none;
          margin: 10px;
      }
      .tex {
        width: 20%;
    padding-left: 80px;
    font-family: sans-serif;
      }
      .tex h1 {
        margin: 0px;
        font-size: 23px;
        color: #0000007d;
      }
      
      .tex p {
        margin-top: 15px;
        font-size: 15px;
        color: #00000094;
      }
      .form {
        width: 60%;
        font-family: sans-serif;
        margin: 0px 0px 40px 30px;
        position: relative;
      }
      input#form-submit {
        background: url(./envelope.png) no-repeat;
    border: 0 none;
    color: #000;
    font-size: 16px;
    line-height: 24px;
    width: 180px;
    position: absolute;
    right: -4%;
      }
      .form>h1 {
        margin: 0px;
        color: #423636fa;
        font-size: 30px;
    
      }
      .a input#name {
        width: 90%;
    }
      .form li {
        list-style-type: none;
        width: 100%;
      }
      .form ul{
        padding-left: 0px;
        display: flex;
      }
      .text1 input[type=text] {
        width: 100%;
        padding: 13px 7px;
        margin: 10px 0px;
        border: none;
        border-bottom: 1px solid #0000004a;
      }
      .icon ul {
        padding-left: 30px;
    margin: 60px 0px 0px 0px;
      }
      footer {
        background-color: #1ea78d;
        border-top: 5px solid #062033;
        color: #fff;
        font-family: sans-serif;
        height: 500px;
        position: relative;
    }
    .P {
      display: flex;
      
    }
    .R {
      position: absolute;
      right: 27%;
      bottom: 5%;
      font-size: 14px;
    }
    .Q {
      display: flex;
    width: 55%;
    margin: 0 auto;
    padding: 50px 0px 0px 0px;
    position: absolute;
    top: 10%;
    left: 5%;
  }
  .head {
    width: 40%;
  }
  .subs {
    width: 30%;
  }
  .head >h2 {
    font-family: cursive;
    margin-top: 10px;
  }
  .head>p {
    padding-right: 20px;
  }
    .explore li {
      list-style-type: none;
      line-height: 30px;
      
    }
    .support li {
      list-style-type: none;
      line-height: 30px;
    
    }
    
    footer h1 p {
      line-height: 40px;
    }
  .subs {
    margin-right: 25px;
  }
    .subs .subscribe {
      margin-bottom: 15px;
      position: relative;
  }
  .subscribe #subscribe {
    background-color: transparent;
    border: 2px solid #fff;
    height: 40px;
    width: 100%;
}
.subscribe #subsc {
  background-color: transparent;
  border: 0 none;
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 6px;
  color: white;
}
    footer h1 {
      font-size: 18px;
    margin-bottom: 30px;
    }
    .explore ul {
      padding: 0px;
      font-size: 13px;
    }
    .support ul {
      padding: 0px;
      font-size: 13px;
    }
    .explore {
      margin: -5px 0px 0px 50px;
    }
    .support {
      position: absolute;
    right: 20%;
    top: 18%;
    }
.Q p {
  font-size: 14px;
  line-height: 25px;
}