

.contact{
    background-image: url("../assets/Contact_us_bg_img.jpg");
    background-size: 100% 100%;
  
    
}

form{
input{
    font-size: 20px;
}

}




.footer_with_social_icons{
   

#left_box{
   
        background-image: linear-gradient(to right,  #303030, #493b3b);
        padding-top: 40px;
        padding-bottom: 20px;
        

            .text-box{
                padding-top: 20px;
        }
        
    }


    #right_box{
        background-image: linear-gradient(to right, #493b3b, rgba(115, 153, 153, 0.568));
        padding-top: 40px;
        
        .text-box{
            padding-top: 20px;
        }
        
    }
}

#footer_menu{
    background-image: linear-gradient(to bottom, rgb(41, 46, 46), rgba(0, 0, 0, 0.295));
    width: 100%;

}
                