
.box1{
    width: 95%;
    height:527px;
    padding: 20Px;
    border: 3px solid black;
    margin: auto;
}
.box2{
    width: 93%;
    height:auto;
    padding: 20Px;
    border: 3px solid black;
    margin: 33px;
    border-radius: 13px;
    
}
 li{
    display: inline-flex;
    box-sizing: border-box;
    flex: auto;
    border: 3px solid black;
    border-radius: 13px;
    list-style: none;
    width: 276px;
    height: 82px;
    margin: 11px;
    font-size: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
table{
    border-collapse: collapse;
}
table, td{
    border: 3px solid black;
    width: 33%;
    padding: 12px;
    margin-left: 97px;
}
th{
    border: 3px solid black;
    width: 33%;
    padding: 12px;
    margin-left: 97px;
}
}

.box3{
    border-radius: 13px;
    list-style: none;
    width: 99%;
    height: 41%;
    border: 3px solid black;
    margin: 0%

}
.box4{
   
    
    list-style: none;
    width: 103px;
    height: 103px;
    border: 3px solid black;
    margin-left: 377px;
    border-radius: 50%;
    margin-top: -111px;
    text-align: center;
    position: absolute;
}
.box5{
    width: 250px;
    height: 154px;
    border: 3px solid black;
    margin-left: 75%;
    margin-top: -159px;
    text-align: center;
    position: absolute;
}
.a{
    
    position: absolute;
    top: -17px;
    right: 112px;
}
    



.b{
    position: absolute;
    left: 10px;
    right: 10px;
    bottom: -16px;
}
.c{
    position: absolute;
    left: 2px;
    bottom: 50px;
}
.d{
    position: absolute;
    right: 2px;
    bottom: 50px;