.A>img {
  width: 100%;
  height: auto;
  display: block;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(224, 161, 66, 0.8);
  text-align: center;
}

.A:hover .overlay1 {
  opacity: 1;
}
.A ul li {
  list-style-type: none;
  margin: 11px;
    background: grey;
}
.A ul{
  display: flex;
  justify-content: center;
}