
.table{
    
    border-collapse: collapse;
    width: 100%;
}
#detail td, #detail tr{
    border: 1px solid #ddd;
    padding: 8px;
}
#detail th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
   
}